---
layout: default
published: true
---
---
layout: default
published: true
---
<div class="container">
  <div class="row">
  	<div class="eight columns" id="header-image">
      <article class="post">
      	<h1>{{ page.title }}</h1>

        <div class="entry">
          {{ content }}
        </div>

     	<div class="date">
         Written on {{ page.date | date: "%B %e, %Y" }}
      	</div>

         {% include disqus.html %}
      </article>
    </div>
            
    <div class="four columns">
      <h1>Hello</h1>
    </div>
  </div>
</div>
